* {
    transition: all .2s;
}
body {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    &:hover {
        text-decoration: none;
    }
}

//scrollbar---------------------------------------------------
.scrollbar {
    &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

//font文字---------------------------------------------------
.text-primary {color: $dark !important;} //#333333
.text-secondary {color: $gray-600 !important;} //#666666
.text-gray {color: $gray-500;} //#888888
.text-grayLight {color: $gray-300;} //#DDDDDD
.text-danger {color: $danger !important;} //red
.text-blueDark {color: darken($blue,15%);} //主視覺大標
.text-orange {color: $orange;} //orange

//font size---------------------------------------------------
@each $size, $value in $font-sizes {
    .fs-#{$size} {
      font-size: $value;
    }
    @include media-breakpoint-up(sm) {
        .fs-sm-#{$size} {
          font-size: $value;
        }
    }
    @include media-breakpoint-up(md) {
      .fs-md-#{$size} {
        font-size: $value;
      }
    }
    @include media-breakpoint-up(lg) {
        .fs-lg-#{$size} {
          font-size: $value;
        }
      }
}

//width
.w-120px { width: 120px; }

//background---------------------------------------------------
.bg-section {background-color: $bg-section;}
.bg-grayLight {background-color: $gray-100;} //#F5F5F5
.bg-gray {background-color: $gray-300;} //#DDDDDD
.bg-grayDark {background-color: $gray-600;} //#666666
.bg-dark {background-color: $dark;} //#333333

//icon---------------------------------------------------
.bi-dash-circle-fill,.bi-plus-circle-fill,.bi-list {
    font-size: 1.5rem;
    &::before {
        background: $white;
        border-radius: 50%;
    }
}
.bi-dash-circle-fill {
    color: $orange;
}
.bi-plus-circle-fill {
    color: $primary;
}
.bi-list {
    font-size: 1.75rem;
    color: $gray-500;
}

//rounded---------------------------------------------------
@each $size, $value in $border-radiuses {
    .rounded-#{$size} {
        border-radius: $value;
    }
}

// text-truncate---------------------------------------------------
@mixin truncate($lines:1) {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}
.text-truncate-2 { @include truncate(2);}
.text-truncate-3 { @include truncate(3);}

//hr---------------------------------------------------
.hr-style01 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

//table表格---------------------------------------------------
.table-headBg { background-color: $table-headBg;}
.table-headColor { color: $table-headColor;}
.con-table {
    .table {
        text-align: center;
        table-layout: fixed;
        word-break: break-all;
        background: #ffffff;
        tr {
            border: 1px solid #eeeeee;
            &:nth-child(2n+2) {
                background: #f5f5f5;
            }
        }
        th,td {
            vertical-align: middle;
            border: 0;
            @include media-breakpoint-down(md) {
                font-size: 0.875rem;
            }
        }
        th {
            background: #D5618C;
            color: #ffffff;
            font-weight: bold;
            border: 1px solid #D5618C;
            padding: 0.5rem;
        }
        td {
            @include media-breakpoint-down(md) {
                padding: 0.75rem 0.5rem;
            }
        }
        > :not(:first-child) {
            border-top: 0px;
        }
        p {
            margin-bottom: 0.375rem;
        }
    }
}

//AOS CSS 改善層級
[data-aos] {pointer-events: none;}
.aos-animate {pointer-events: auto;}
.aos-init[data-aos][data-aos].aos-animate {transform: unset;}