//footer---------------------------------------------------
.footer {
    background: $bg-footer;
    padding: 1.25rem 0;
    .footer-link {
        a {
            color: $white;
            padding: 0 .25rem;
            &:hover {
                color: $blue;
            }
        }
    }
    p {
        color: $gray-300;
    }
}